// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body, html, main, #app {
    height: 100%;
}

body, p{
    font-family: 'Lato', sans-serif;
}

.bg { 
    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .bg {
      height: 1000px;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .bg {
      height: 600px;
    }
  }

  #forgot-password{
      color: #c1d0f7;
  }