// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body, html, main, #app {
    height: 100%;
}

body, p{
    font-family: 'Lato', sans-serif;
}

.bg { 
    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-white {
  background-color: #fff !important;
}

.bg-lightgray{
  background: $lightgray;
}

.bg-lightblue {
  background-color: $lightblue;
}

.bg-purple{
  background-color: $purple;
}

.btn{
  color: $lightblack;
  font-weight: bold;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .bg {
      height: 1000px;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .bg {
      height: 600px;
    }
  }

  #forgot-password{
      color: #c1d0f7;
  }

//   .btn-link:hover{
//     c;
//   }

  // #background-carousel {
  //   position: fixed;
  //   width: 100%;
  //   height: 100%;
  //   z-index: -1;
  // }
  // #content-wrapper {
  //   position: absolute;
  //   z-index: 1 !important;
  //   min-width: 100%;
  //   min-height: 100%;
  // }

  .load{
    animation: slide 2s;
  }

  .slider{
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
    animation: slide 26s infinite;
  }

  .content{
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }

  .principal{
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    position: absolute;
    letter-spacing: 5px;
    text-align: center;
  }

  @keyframes slide {
    0%{
      background-image: url('/images/home/lowcontrast/4seasons-bali.png');
    }
    20%{
      background-image:  url('/images/home/lowcontrast/4seasons-bali.png');
    }
    20.01%{
      background-image: url('/images/home/lowcontrast/explorerdive-papua.png');
    }
    40%{
      background-image:  url('/images/home/lowcontrast/explorerdive-papua.png');
    }
    40.01%{
      background-image: url('/images/home/lowcontrast/hilton-bandung.png');
    }
    60%{
      background-image:  url('/images/home/lowcontrast/hilton-bandung.png');
    }
    60.01%{
      background-image: url('/images/home/lowcontrast/viceroy-bali.png');
    }
    80%{
      background-image:  url('/images/home/lowcontrast/viceroy-bali.png');
    }
    80.01%{
      background-image:  url('/images/home/lowcontrast/villalonghouse-bali.png');
    }
    100%{
      background-image:  url('/images/home/lowcontrast/villalonghouse-bali.png');
    }
  }